@font-face {
  src: url("../fonts/MullerRegular.woff2") format("woff2");
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-family: "Muller Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-family: "Muller Bold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-family: "Muller Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* Drop Syyle Area */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Muller Regular", sans-serif;
  font-size: 16px;
  line-height: 0;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* End Drop Style Area */


/* Common Area */

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.common-section {
  margin-bottom: 70px;
}

.common-title {
  margin-bottom: 23px;
  margin-left: 43px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #333;
}

.btn {
  border-radius: 12px;
  font-family: "Muller Bold", "Arial Bold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #fff;
  background-color: #c93;
}

/* End Common Area */


/* *Header Area */

.header {
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

.phone-top {
  margin-left: 25px;
  font-family: "Muller Bold", "Arial Bold", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: #666;
}

.accaunt-top::before {
  content: "\f0a9";
  padding-right: 3px;
  font-family: "Font Awesome 5 Free";
}

.accaunt-top {
  margin-left: auto;
  padding-right: 10px;
  padding-left: 20px;
  font-family: "Muller Bold", sans-serif;
  font-weight: 800;
  line-height: 1.4;
  color: #c93;
}

/* *NavBar */

.header-nav {
  display: flex;
  border-radius: 12px;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  background-color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin: 0 23px;
  color: #333;
}

.header-search {
  align-self: center;
  margin-left: auto;
}

.header-search-input {
  border: none;
  border-radius: 15px;
  padding: 0;
  width: 355px;
  height: 48px;
  background-image: url("../img/search.png");
  background-position: 93%;
  background-size: 22px;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
}

.header-search-input::placeholder {
  padding-left: 15px;
}

/* Main */

/* * First Screen */

.first-screen {
}

.first-screen-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 69px;
}

.first-screen-title {
}

/* * Form Reservation Section */

.flex-block {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 540px;
}

.reservation-item {
  padding: 0 15px;
  border: none;
  border-radius: 12px;
  width: 518px;
  height: 70px;
  background-color: #fff;
}

/* .reservation-item::placeholder {
  padding-left: 15px;
} */

.btn-number {
  display: flex;
  align-content: center;
}

.reservation-btn {
  border: none;
  padding: 27px 30px;
}

.reservation-available {
  align-self: center;
  margin-left: 30px;
  color: #a0a0a0;
}

.numder-item {
  color: #c93;
}

/* Special Offer Article */

.special-img {
  border-radius: 12px;
}

.offer-position {
  position: relative;
}

.special-offer-text {
  position: absolute;
  left: 40px;
  top: 265px;
  width: 320px;
}

.text-main {
  margin: 0 0 35px;
  padding: 0;
  font-family: "Muller Bold", sans-serif;
  font-weight: 800;
  font-size: 66px;
  line-height: 0.87;
  color: #fff;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-price {
  margin: 0;
  font-size: 35px;
  line-height: 0.8;
  color: #fff;
  opacity: 0.49;
}

.special-offer-links {
}

.special-offer-link {
  padding-right: 15px;
  line-height: 2.6;
  color: #fc6;
  background-image: url("../img/arrow.svg");
  background-position: right;
  background-repeat: no-repeat;
}

/* About */

.about {
  margin-bottom: 53px;
}

.about-title {
  margin-bottom: 9px;
}

.about-text {
  padding-left: 43px;
  width: 930px;
  line-height: 2;
  color: #666;
}

/*  *Services */

.service {
  /* margin-bottom: -25px; */
}

.service-lists {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
}

.servise-item {
  margin-bottom: 25px;
  max-width: 572px;
}

.service-card {
  border-radius: 12px;
  padding-bottom: 33px;
  padding-left: 45px;
  background-color: #fff;
}

.servise-card-img {
  margin-bottom: 36px;
  margin-left: -45px;
}

.card-img {
  border-radius: 12px 12px 0 0;
}

.service-card-title {
  margin-bottom: 5px;
  font-family: "Muller Medium", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #c93;
}

.service-card-link {
  padding-right: 15px;
  background-image: url("../img/arrow.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.service-card-text {
  width: 75%;
  line-height: 2;
  color: #333;
}

/*  *Benefits Area */

.benefits {
  margin-top: -25px;
}

.title-benefits {
}

.benefits-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits-item {
  margin-bottom: 24px;
}

.benefits-card {
  border-radius: 12px;
  padding-top: 44px;
  padding-bottom: 40px;
  padding-left: 44px;
  height: 275px;
  max-width: 275px;
  background-color: #fff;
}

.benefits-card-img {
  margin-bottom: 10px;
}

.benefits-img {
}

.benefits-text {
  width: 81%;
  line-height: 2;
  color: #333;
}

/* End Benefit Area */

/*  *Siting Area */

.siting {
  margin-top: -25px;
}

.siting-title {
  line-height: 0.87;
}

.siting-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.siting-item {
  flex: 0 0 32%;
  margin-bottom: 25px;
  border-radius: 12px;
  height: 441px;
  background-color: #fff;
}

.siting-card {
  padding-left: 44px;
}

.siting-card-img {
  margin-bottom: 25px;
  margin-left: -44px;
}

.siting-img {
  border-radius: 12px 12px 0 0;
}

.siting-apartment {
}

.apartment-atributs {
  line-height: 1.9;
  color: #333;
}

.price-and-raiting {
  display: flex;
}

.apartment-price {
}

.apartment-rating-lists {
  display: flex;
  flex: 1 0 auto;
  place-content: center;
  align-self: flex-end;
}

.apartment-rating-item {
  padding-right: 6px;
}

.star-raiting {
}

.ot {
  color: #969696;
}

.number {
  font-family: "Muller Bold", sans-serif;
  font-weight: 800;
  font-size: 22px;
}

.night {
}

.apartment-title {
}

.apartment-place {
  margin-bottom: 20px;
  color: #999;
}

.apartment-details {
}

.apartment-link {
  border: 1px solid #c93;
  padding: 12px 19px 11px;
  color: #c93;
  background-color: transparent;
}

.all-variant-card {
  position: relative;
}

.all-variants {
}

.all-siting-img {
  border-radius: 12px;
}

.all-variant-title {
  position: absolute;
  left: 39px;
  bottom: 47px;
  padding-right: 21px;
  font-family: "Muller Medium", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  color: #fff;
  background-image: url("../img/arrow-w.svg");
  background-position: right;
  background-size: 12px;
  background-repeat: no-repeat;
}

/*  * Contacts Area */

.contacts {
  padding-top: 40px;
}

.contact-row{
  display: flex;
}

/* * Contact Section */

.section-contact {
  flex: 0 0 40.3%;
}

.contacts-lists {
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
  background-color: #fff;
  border-radius: 12px;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 16px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ccc;
}

.contacts-item:last-child {
  border-bottom: none;
}

.contact-item__title {
 font-size: 22px;
  line-height: 2;
  color: #666;
}

.contact-item__body {
  display: block;
  flex: 0 0 62%;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

.contact-item__body a {
  color: #c93;
}

.contact-tel {
  display: block;
}

.btn-route {
 margin-top: 28px;
  border: 1px solid #c93;
  padding: 18px 29px;
  font-size: 16px;
  line-height: 2;
  color: #c93;
  background-color: transparent;
}

/* * Secton Feedback */

.section-feedback {
  flex: 0 0 59.7%;
}

.feedback {
  /* margin: 0 auto; */
  padding: 135px 180px 0;
  /* background-color: orange; */
}

.feedback h2 {
  margin: 0 0 37px 0;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-input {
  margin-bottom: 23px;
  padding-left: 20px;
  height: 70px;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
}

/* .feedback-input[type="tel"] {
  color: #666;
} */

/* .feedback-input::placeholder { */
/* padding-left: 20px; */
/* } */

.feedback-input--textarea {
  height: 110px;
  padding-top: 10px;
}

/* .feedback-input--textarea::placeholder { */
  /* padding-top: 15px; */
/* } */

.btn-feedback {
  padding: 26px 0 25px;
  background-color: #c93;
  border: none;
}

/* * Footer Area */

.footer {
  padding-top: 25px;
  padding-bottom: 52px;
  color: #ffffff;
  line-height: 2;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 42px 52px 0;
  height: 340px;
  background-color: #333;
  border-radius: 12px;
}

.footer-logo-img {
  position: absolute;
  bottom: 0;
  left: 63%;
}

.footer-left {
  flex: 0 0 30%;
}

.footer-left--item {
  margin-bottom: 32px;
}

.footer-left--link {
  color: #c93;
}

.footer-center {
  flex: 0 0 39%;
  margin: 0 auto;
}

.footer-link {
  margin-top: 25px;
  color: #c93;
  line-height: 1.6;
}
.footer-link > a {
  display: block;
}
.footer-right {
  margin-left:  auto;
  padding-top: 5px;
}

.footer-social__item {
  margin-bottom: 10px;
}

footer-social__item::last-child {
  margin-bottom: 0;
}
