@font-face {
	font-family: 'Muller Regular';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller Bold';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muller Medium';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


/* Drop Syyle Area */

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Muller Regular', sans-serif;
  font-size: 16px;
  line-height: 0;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  min-width: 100%; 
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* End Drop Style Area */


/* Common Area */

.container {
  margin: 0 auto;
  max-width: 1170px;
  outline: 2px solid orangered;
}


.common-section {
  margin-bottom: 70px;

  outline: 1px solid cadetblue;
}

.common-flex {
  display: flex;
  justify-content: space-between;
}

.common-title {
  margin-left: 43px;
  margin-bottom: 23px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #333333;

  outline: 1px solid brown;
}

.btn {
  border: 1px solid #cc9933;
  border-radius: 12px;
  background-color: #cc9933;
  color: #ffffff;
  font-family: "Muller Bold";
  font-size: 16px;
  font-weight: 400;
}
/* End Common Area */


/* Header Area */

.header {
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;

}

.phone-top {
  margin-left: 25px;
  font-size: 22px;
  font-family: 'Muller Bold';
  color: #666;
}

.accaunt-top {
  margin-left: auto;
  padding-right: 10px;
  padding-left: 20px;
  background-image: url(../img/arrow-circle.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left;
  font-family: 'Muller Bold';
  color: #c93;

  line-height: 1.4;
}

/* NavBar */

.header-nav {
  display: flex;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  border-radius: 12px;
  background-color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin: 0 23px;
  color: #333333;
}

.header-search {
  margin-left: auto;
  align-self: center;
}

.header-search-input {
  padding: 0;
  width: 355px;
  height: 48px;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 93%;
}

/* Main */

/* First Screen */

.first-screen {

}

.first-screen-flex {

}

.first-screen-title {
  
}

/* Form Reservation Section */

.flex-block {
  /* display: flex; */
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.reservation-item {
  width: 518px;
  height: 70px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
}

.btn-number {
  display: flex;
  align-content: center;
}

.reservation-btn {
  padding: 27px 30px;
  border: none;
}

.reservation-available {
  margin-left: 30px;
  align-self: center;
}

.numder-item {
  color: #cc9933;
}

/* Special Offer Article */

.offer-position {
  position: relative;
}

.special-offer-text {
  position: absolute;
  top: 265px;
  left: 40px;
  width: 320px;
}

.text-main {
  padding: 0;
  margin: 0 0 35px;
  color: #fff;
  font-family: "Muller Bold";
  font-size: 66px;
  font-weight: 400;

  line-height: 0.87;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-price {
  margin: 0;
  opacity: 0.49;
  color: #fff;
  font-size: 35px;

  line-height: 0.8;

}

.special-offer-links {
  
}

.special-offer-link {
  padding: 15px;
  color: #fc6;

  line-height: 2.6;

  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* About */

.about {
  margin-bottom: 53px;
}

.about-title {
  margin-bottom: 9px;
}

.about-text {
  padding-left: 43px;
  width: 930px;
  color: #666666;

  line-height: 2;
}

/* Services */

.service-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  place-content: space-between;

}

.servise-item {
  max-width: 572px;
}

.service-card {
  padding-left: 45px;
  border-radius: 12px;
  background-color: #ffffff;
}

.servise-card-img {
  margin-left: -45px;
}

.service-card-title {
  color: #cc9933;
  font-family: "Muller Medium";
  font-size: 22px;
  font-weight: 400;

  line-height: 1.4;
}
.service-card-link {
  padding-right: 15px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
    
}