@font-face {
  src: url("../fonts/MullerRegular.woff2") format("woff2");
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-family: "Muller";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-main: #cc9933;
  --color-details: #ffcc66;
  --color-star-gold: #e9ce93;
  --color-star-dark: #e6e6e6;
  --color-font: #333333;
  --color-subtext: #666666;
  --color-placeholder: #999999;
  --color-placeholder-search: #bebebe;
  --color-bg-main: #f1f1f1;
  --color-bg: #ffffff;

}

/* Drop Syyle Area */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  background-color: var(--color-bg-main);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* End Drop Style Area */


/* Common Area */

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.common-section {
  /* margin-bottom: 70px; */
}

.common-title {
  margin-bottom: 23px;
  margin-left: 43px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: var(--color-font);
}

.btn {
  border-radius: 12px;
  font-family: "Muller", "Arial Bold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: var(--color-bg);
  background-color: var(--color-main);
  cursor: pointer;
}

/* End Common Area */


/* *Header Area */

.header {
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

.phone-top {
  /* margin-left: 25px; */
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  color: var(--color-subtext);
}

.accaunt-top::before {
  content: "\f0a9";
  padding-right: 3px;
  font-family: "Font Awesome 5 Free";
}

.accaunt-top {
  margin-left: auto;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 800;
  line-height: 1.4;
  color: var(--color-main);
}

/* *NavBar */

.header-nav {
  display: flex;
  border-radius: 12px;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  background-color: var(--color-bg);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  /* margin: 0 23px; */
  color: var(--color-font);
}

.nav-link__item  {
  padding: 27px 23px;
  /* background-color: #10101010; */
}

.header-search {
  /* align-self: center; */
  margin-left: auto;
}

.header-search-input {
  border: none;
  border-radius: 15px;
  padding: 0;
  width: 355px;
  height: 48px;
  background-image: url("../img/search.png");
  background-position: 93%;
  background-size: 22px;
  background-repeat: no-repeat;
  background-color: var(--color-bg-main);
}

.header-search-input::placeholder {
  padding-left: 15px;
  font-size: 14px;
  color: var(--color-placeholder-search)
}

/* Main */

/* * First Screen */

.first-screen {
  padding-top: 70px;
}

.first-screen-flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* margin-bottom: 69px; */
}

.first-screen-title {
}

/* * Form Reservation Section */

.flex-block {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: space-between; */
  /* justify-content: space-between; */
  /* height: 540px; */
}

.input-block {
  margin-bottom: 24px;
}

.reservation-item {
  padding: 0 15px;
  border: none;
  border-radius: 12px;
  width: 518px;
  height: 70px;
  background-color: var(--color-bg);
}

.reservation-item::placeholder {
  padding-left: 5px;
  color: var(--color-placeholder)
}

.btn-number {
  display: flex;
  /* align-content: center; */
}

.reservation-btn {
  border: none;
  padding: 25px 30px;
}

.reservation-available {
  align-self: center;
  margin-left: 30px;
  color: #a0a0a0;
}

.numder-item {
  color: var(--color-main);
}

/* * Special Offer Article */

.special-offer {
  margin-left: auto;
}

.special-img {
  border-radius: 12px;
}

.offer-position {
  position: relative;
}

.special-offer-text {
  position: absolute;
  left: 40px;
  top: 265px;
  width: 320px;
}

.text-main {
  margin: 0 0 35px;
  padding: 0;
  font-family: "Muller", sans-serif;
  font-weight: 800;
  font-size: 66px;
  line-height: 0.87;
  color: var(--color-bg);
}

.flex-wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.text-price {
  margin: 0;
  font-size: 35px;
  line-height: 0.8;
  color: var(--color-bg);
  opacity: 0.49;
}

.special-offer-links {
  margin-left: auto;
}

.special-offer-link {
  padding-right: 15px;
  line-height: 2.6;
  color: var(--color-details);
  background-image: url("../img/arrow.svg");
  background-position: right;
  background-repeat: no-repeat;
}

/* * About */

.about {
  /* margin-bottom: 53px; */
  padding-top: 70px;
}

.about-title {
  margin-bottom: 9px;
}

.about-text {
  padding-left: 43px;
  width: 930px;
  line-height: 2;
  color: var(--color-subtext);
}

/*  *Services */

.service {
  padding-top: 53px;
  /* margin-bottom: -25px; */
}

/* .service-column {
  margin: 0 auto;
  max-width: 572px;
} */

.service-lists {
  display: flex;
  flex-wrap: wrap;
  /* place-content: space-between; */
  margin-right: -25px;
  margin-bottom: -25px;
}

.servise-item {
  margin-bottom: 24px;
  margin-right: 25px;
  max-width: 572px;
}

.service-card {
  border-radius: 12px;
  padding-bottom: 33px;
  padding-left: 45px;
  height: 325px;
  overflow: hidden;
  background-color: var(--color-bg);
}

.servise-card-img {
  margin-bottom: 36px;
  margin-left: -45px;
}

.card-img {
  border-radius: 12px 12px 0 0;
}

.service-card-title {
  margin-bottom: 5px;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: var(--color-main);
}

.service-card-link {
  padding-right: 20px;
  background-image: url("../img/arrow.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.service-card-text {
  width: 75%;
  line-height: 2;
  color: var(--color-font);
}

/*  *Benefits Area */

.benefits {
  /* margin-top: -25px; */
  padding-top: 69px;
}

.title-benefits {
}

.benefits-lists {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-right: -23px;
  margin-bottom: -25px;
}

.benefits-item {
  margin-right: 23px;
  margin-bottom: 24px;
}

.benefits-card {
  border-radius: 12px;
  padding-top: 44px;
  padding-bottom: 40px;
  padding-left: 44px;
  height: 275px;
  max-width: 275px;
  overflow: hidden;
  background-color: var(--color-bg);
}

.benefits-card-img {
  margin-bottom: 10px;
}

.benefits-img {
}

.benefits-text {
  width: 81%;
  line-height: 2;
  color: var(--color-font);
}

/*  * Siting Area */

.siting {
  /* margin-top: -25px; */
  padding-top: 70px;
}

.siting-title {
  line-height: 0.9;
}

.siting-lists {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-right: -25px;
  margin-bottom: -27px;
}

.siting-item {
  margin-right: 25px;
  margin-bottom: 27px;
  /* padding-bottom: 50px; */
  /* flex: 0 0 32%; */
  /* margin-bottom: 25px; */

  /* height: 441px; */

}

.siting-card {
  padding-left: 44px;
  height: 440px;
  background-color: var(--color-bg);
  border-radius: 12px;
}

.siting-card-img {
  margin-bottom: 25px;
  margin-left: -44px;
}

.siting-img {
  border-radius: 12px 12px 0 0;
}

.siting-apartment {
}

.apartment-atributs {
  line-height: 1.9;
  color: var(--color-font);
}

.price-and-raiting {
  display: flex;
}

.apartment-price {
}

.apartment-rating-lists {
  display: flex;
  /* flex: 1 0 auto; */
  /* place-content: center; */
  /* align-self: flex-end; */
  margin-left: 40px;
  margin-top:10px;
}

.apartment-rating-item {
  padding-right: 6px;
}

.star-raiting {
}

.ot {
  color: #969696;
}

.number {
  font-weight: 800;
  font-size: 22px;
}

.night {
}

.apartment-title {
}

.apartment-place {
  margin-bottom: 20px;
  color: var(--color-placeholder);
}

.apartment-details {
}

.apartment-link {
  border: 1px solid var(--color-main);
  padding: 12px 19px 11px;
  color: var(--color-main);
  background-color: transparent;
}

.all-variant-card {
  display: flex;
  /* align-items: flex-end; */
  position: relative;
  /* width: 373px; */

  background-image: url("../img/41.jpg");
  background-size: cover;
  border-radius: 12px;

}

.all-variant {
  margin-top: auto;
  margin-left: -5px;
  padding-right: 39px;
  padding-bottom: 47px;
}

.all-variant-link {
  padding-right: 21px;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  color: var(--color-bg);
  
  background-image: url("../img/arrow-w.svg");
  background-position: right;
  background-size: 12px;
  background-repeat: no-repeat;
}

.all-variant-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*  * Contacts Area */

.contacts {
  padding-top: 65px;
}

.contact-row{
  display: flex;
}

/* * Contact Section */

.section-contact {
  flex: 0 0 40.3%;
}

.contacts-lists {
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
  background-color: var(--color-bg);
  border-radius: 12px;
}

.contacts-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  padding-top: 16px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ccc;
}

.contacts-item:last-child {
  border-bottom: none;
}

.contact-item__title {
 font-size: 22px;
  line-height: 2;
  color: var(--color-subtext);
}

.contact-item__body {
  display: block;
  flex: 0 0 62%;
  margin-left: auto;
  color: var(--color-font);
  font-size: 16px;
  line-height: 1.5;
}

.contact-item__body a {
  color: var(--color-main);
}

.contact-tel {
  display: block;
}

.btn-route {
 margin-top: 28px;
  border: 1px solid var(--color-main);
  padding: 18px 29px;
  font-size: 16px;
  line-height: 2;
  color: var(--color-main);
  background-color: transparent;
}

/* * Secton Feedback */

.section-feedback {
  flex: 0 0 59.7%;
}

.feedback {
  padding: 135px 180px 0;
}

.feedback h2 {
  margin: 0 0 37px 0;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-input {
  margin-bottom: 23px;
  padding-left: 20px;
  height: 70px;
  background-color: var(--color-bg);
  border: none;
  border-radius: 12px;
}

.feedback-input::placeholder {
  color: var(--color-placeholder);
}

.feedback-input--textarea {
  height: 110px;
  padding-top: 10px;
}

.btn-feedback {
  padding: 26px 0 25px;
  background-color: var(--color-main);
  border: none;
}

/* * Footer Area */

.footer {
  padding-top: 25px;
  padding-bottom: 52px;
  color: var(--color-bg);
  line-height: 2;

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 42px 52px 0;
  height: 340px;
  background:no-repeat 80% bottom url("../img/sun.png"), var(--color-font);
  border-radius: 12px;
}

.footer-left {
  flex: 0 0 30%;
}

.footer-left--item {
  margin-bottom: 32px;
}

.footer-left--link {
  color: var(--color-main);
}

.footer-center {
  flex: 0 0 39%;
  margin: 0 auto;
}

.footer-link {
  margin-top: 25px;
  color: var(--color-main);
  line-height: 1.6;
}
.footer-link > a {
  display: block;
}
.footer-right {
  margin-left:  auto;
  padding-top: 5px;
}

.footer-social__item {
  margin-bottom: 10px;
}

footer-social__item::last-child {
  margin-bottom: 0;
}
